@tailwind base;
@tailwind components;
@tailwind utilities;


.overflow_scrollbar {
    height: calc(100vh - 155px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 6px !important;
  }
  ::-webkit-scrollbar-track {
    background: #15803d !important;
  }
  ::-webkit-scrollbar-thumb {
    background: #14532d  !important;
  }


.epr-body::-webkit-scrollbar {
  width: 6px !important;
}
.epr-body::-webkit-scrollbar-track {
  background: #15803d !important;
}
.epr-body::-webkit-scrollbar-thumb {
  background: #14532d !important;
}
